<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>BackEndProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.basic.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>com.basic.LoginCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Survey</servlet-name>
    <servlet-class>com.basic.Survey</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WelcomServlet</servlet-name>
    <servlet-class>com.basic.WelcomServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerDetail</servlet-name>
    <servlet-class>com.db.CustomerDetail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerInsert</servlet-name>
    <servlet-class>com.db.CustomerInsert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerList</servlet-name>
    <servlet-class>com.db.CustomerList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CookieTest</servlet-name>
    <servlet-class>com.cookie.CookieTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShopServlet</servlet-name>
    <servlet-class>com.session.ShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Survey</servlet-name>
    <url-pattern>/Survey</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WelcomServlet</servlet-name>
    <url-pattern>/WelcomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerDetail</servlet-name>
    <url-pattern>/CustomerDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerInsert</servlet-name>
    <url-pattern>/CustomerInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerList</servlet-name>
    <url-pattern>/CustomerList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookieTest</servlet-name>
    <url-pattern>/CookieTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopServlet</servlet-name>
    <url-pattern>/ShopServlet</url-pattern>
  </servlet-mapping>
</web-app>