<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <style>
      @import url("./css/index.css");
    </style>
    <script src="https://unpkg.com/vue@2"></script>
  </head>

  <body>
    <div id="app">
      <emp-management></emp-management>
    </div>

    <script type="module">
      import empManagement from './js/EmpManagement.js';

      new Vue({
        el: "#app",
        components: {
          empManagement,
        }
      });
    </script>
  </body>
</html>
