<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@2"></script>
</head>
<body>
  <div id="app">
    <my-global></my-global>
    <my-local></my-local>
  </div>
  
  <hr>
  
  <div id="other">
    <my-global></my-global>
    <!-- <my-local></my-local> -->
  </div>
  
  <script>
    // 전역 컴퓨넌트 등록
    Vue.component('my-global', {
      template: `<div>
                  <h1>my-global 컴포넌트입니다.</h1>
                  <h2>my-global 컴포넌트입니다.</h2>
                </div>`,
    });

    new Vue({
      el: "#app",
      components: {
        'my-local': {
          template: `<div>my-local 컴포넌트입니다.</div>`,
        }
      }
    });

    new Vue({
      el: "#other",
    });

  </script>

</body>
</html>